body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.tool-links {
    margin: 20px;
}

.tool-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.tool-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Login styles */
.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
}

.login-button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 16px;
}
